<div class="container">
  <div class="row">
    <div class="span5">
      <img src="img/desktop-large.jpg" class="img-polaroid" alt="Lenovo Desktop" style="width: 320px;height: 300px;">
    </div>
    <div class="span7">
      <h2>Lenovo Desktop</h2>
      <h4 class="muted">Thinner, Lighter, Faster. All in One Desktop</h4>
      <p>Lorem ipsum dolor sit amet consectetur elit...</p>
      <hr>
      <h3>Price - <del class="text-error">$699</del> $499</h3>
      <p class="muted">Inclusive of all taxes. Free home delivery.</p>
      <br>
      <p><a href="#" class="btn btn-success btn-large">Buy Online Now</a></p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">Specification</a></li>
        <li><a data-toggle="tab" href="#tab-2">Key Features</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade in active">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Brand</th>
                <td>Lenovo</td>
              </tr>
              <tr>
                <th>OS</th>
                <td>Windows 8</td>
              </tr>
              <tr>
                <th>Processor</th>
                <td>1.5 GHz Dual Core</td>
              </tr>
              <tr>
                <th>Memory</th>
                <td>2 GB RAM</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="tab-2" class="tab-pane fade">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Windows 8 OS</td>
              </tr>
              <tr>
                <td>Intel Dual Core Processor</td>
              </tr>
              <tr>
                <td>18.5 Inch LED Screen</td>
              </tr>
              <tr>
                <td>Integrated Graphics</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer section -->
<div class="container">
  <hr>
  <div class="row">
    <div class="span12">
      <p class="pull-left">Copyright &copy; 2013 Gadget Store, Inc. All Right Reserved</p>
      <p class="pull-right"><a href="user-agreement.html">Privacy Policy</a> | <a href="user-agreement.html">Terms of Use</a></p>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
