<div class="flex-container">
  <div *ngFor="let item of models; let i = index" id="main">
    <div class="card" style="width: 18rem;" id="container">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{item.author}}</li>
        <li class="list-group-item">{{item.ISBN}}</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <!--<div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>-->
    </div>
  </div>
  </div>
